# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np

In [7]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv( '/home/violett/baseball_games.csv')
median_attendance = data['attendance'].median()
data['attendance'].fillna( median_attendance, inplace = True )

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [8]:
attendance_max=data[data['attendance']==data['attendance'].max()]
dataSelected = attendance_max.loc[::, ['attendance','home_team', 'away_team', 'date']]
dataSelected.head()

     attendance            home_team     away_team        date
358     54449.0  Los Angeles Dodgers  Chicago Cubs  2016-10-20
360     54449.0  Los Angeles Dodgers  Chicago Cubs  2016-10-19

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [9]:
temperature_min=data[data['temperature']==data['temperature'].min()]
temperature_min.head()
dataSelected = temperature_min.loc[::, ['temperature','home_team', 'away_team', 'date']]
dataSelected.head()

      temperature       home_team         away_team        date
2409         31.0  Detroit Tigers  New York Yankees  2016-04-09

# 3. Какая игра была самая теплая за весь сезон?

In [10]:
temperature_max=data[data['temperature']==data['temperature'].max()]
temperature_max.head()
dataSelected = temperature_max.loc[::, ['temperature','home_team', 'away_team', 'date']]
dataSelected.head()

      temperature             home_team             away_team        date
2026        101.0  Arizona Diamondbacks  San Francisco Giants  2016-05-13

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [11]:
game_hours_dec_max=data[data['game_hours_dec']==data['game_hours_dec'].max()]
dataSelected = game_hours_dec_max.loc[::, ['game_hours_dec','home_team', 'away_team', 'date']]
dataSelected.head()

      game_hours_dec          home_team          away_team        date
1445        6.216667  Toronto Blue Jays  Cleveland Indians  2016-07-01

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [12]:
game_hours_dec_min=data[data['game_hours_dec']==data['game_hours_dec'].min()]
dataSelected = game_hours_dec_min.loc[::, ['game_hours_dec','home_team', 'away_team', 'date']]
dataSelected.head()

     game_hours_dec           home_team     away_team        date
423            1.25  Pittsburgh Pirates  Chicago Cubs  2016-09-29

# 6. Сколько матчей в сезоне закончилось ничьей?

In [13]:
match_result_draw=data[data['home_team_win']==data['home_team_loss']]
print("Количество игр вничью: ", match_result_draw['home_team_win'].count())

Количество игр вничью:  1

# 7. Какая игра была последней в сезоне?

In [14]:
last_game_in_season=data[data['date']==data['date'].max()]
dataSelected = last_game_in_season.loc[::, ['home_team', 'away_team', 'date']]
dataSelected.head()

             home_team     away_team        date
350  Cleveland Indians  Chicago Cubs  2016-11-02

# 8. У какой игры было минимальное количество зрителей?

In [15]:
attendance_min=data[data['attendance']==data['attendance'].min()]
dataSelected = attendance_min.loc[::, ['attendance','home_team', 'away_team', 'date']]
dataSelected.head()

      attendance          home_team       away_team        date
2130      8766.0  Cleveland Indians  Detroit Tigers  2016-05-04

# 9. Какая игра в сезоне была самая ветренная?

In [16]:
wind_speed_max=data[data['wind_speed']==data['wind_speed'].max()]
dataSelected = wind_speed_max.loc[::, ['wind_speed','home_team', 'away_team', 'date']]
dataSelected.head()

      wind_speed             home_team          away_team        date
1655        25.0  San Francisco Giants  Milwaukee Brewers  2016-06-13
2005        25.0        Boston Red Sox     Houston Astros  2016-05-15

# 10. В какой игре получили максимальное количество очков?

In [17]:
data['sum_point_game']=data['home_team_runs']+ data['away_team_runs']
sum_point_game_max=data[data['sum_point_game']==data['sum_point_game'].max()]
dataSelected = sum_point_game_max.loc[::, ['sum_point_game','home_team', 'away_team', 'date']]
dataSelected.head()

      sum_point_game         home_team         away_team        date
1788              29  San Diego Padres  Seattle Mariners  2016-06-02

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [18]:
home_team_errors_max=data[data['home_team_errors']==data['home_team_errors'].max()]
dataSelected = home_team_errors_max.loc[::, ['home_team_errors','home_team', 'away_team', 'date']]
dataSelected.head()

      home_team_errors          home_team             away_team        date
1178                 5  Milwaukee Brewers  Arizona Diamondbacks  2016-07-27

# 12. В какой игре было максимальное количество ранов?

In [68]:
data['sum_point_hits']=data['away_team_hits']+data['home_team_hits']
sum_point_hints_max=data[data['sum_point_hits']==data['sum_point_hits'].max()]
dataSelected = sum_point_hints_max.loc[::, ['sum_point_hits','home_team', 'away_team', 'date']]
dataSelected.head()

      sum_point_hits       home_team      away_team        date
1413              37  Boston Red Sox  Texas Rangers  2016-07-04

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [69]:
teams_total_stats=[data['home_team'].value_counts()+data['away_team'].value_counts()]
print (teams_total_stats)

[Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                162
Boston Red Sox                   162
Chicago Cubs                     162
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                161
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              162
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    162
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             162
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    162
Toronto Blue Jays                162
Washington Nationals             162
dtype: int64]

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [70]:
data = data.drop(data[data['season'] == 'post season'].index)#учитываем только игры в regular season
best_team=data.groupby(['home_team'])['home_team_win'].agg(['sum'])+data.groupby(['away_team'])['home_team_loss'].agg(['sum'])
best_team.sort_values( by = 'sum', ascending = False ).head(1)

              sum
home_team
Chicago Cubs  103

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [71]:
best_home_team=data.groupby(['home_team'])['home_team_win'].agg(['sum'])
best_home_team.sort_values( by = 'sum', ascending = False ).head(1)

              sum
home_team
Chicago Cubs   57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [72]:
best_away_team=data.groupby(['away_team'])['home_team_loss'].agg(['sum'])
best_away_team.sort_values(by = 'sum', ascending = False).head(1)

                     sum
away_team
St. Louis Cardinals   48

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [117]:
worst_team=data.groupby(['home_team'])['home_team_loss'].agg(['sum'])+data.groupby(['away_team'])['home_team_win'].agg(['sum'])
worst_team.sort_values( by = 'sum', ascending = False ).head(1)

                 sum
home_team
Minnesota Twins  103

# 18. Зависит ли выигрышь от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [122]:
# conv=data['home_team_win'].cov(data['attendance'])
#я не очень поняла как оценить ковариацию, поэтому взяла корреляцию
conv=data['home_team_win'].corr(data['attendance'])
if conv <=0.3:
    print ('слабая')
elif conv >0.3 and conv <= 0.5:
    print('заметная')
elif conv >0.5 and conv <= 0.7:
    print('высокая')
else:
    print ('весьма высокая')

слабая

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [90]:
data.groupby(['day_of_week'])['home_team_loss'].agg(['sum']).sort_values( by = 'sum', ascending = False ).head(2)

             sum
day_of_week
Sunday       189
Tuesday      185

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [123]:
data['sum_point_game']=data['home_team_runs']+ data['away_team_runs']
sum_run_hot = data[data["temperature"]>=32].sum()["sum_point_game"]
sum_run_cold = data[data["temperature"]<32].sum()["sum_point_game"]
if sum_run_hot > sum_run_cold:
    print ("в жаркую погоду ранов больше")
else:
    print("в холодную погоду ранов больше")

в жаркую погоду ранов больше